# ignore anything inside a target directory, as that is the output of a maven
# build and we want a fresh environment
**/target/*
# (tflannag): Was having difficulties when building the 322
# master build using imagebuilder as it was improperly
# processing the presto-server tar file that contains symlinks
# target/**/*
# TODO: find a better solution than this
target/presto-server-322.0/lib/animal-sniffer-annotations-1.14.jar
